<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<!--<style>
body {
  background-image: url('image2.jpg');
}
</style>-->
<body style="background-color:lightblue;">
<meta charset="utf-8" />
<title>Edit Product</title>

</head>
<body>
<div align="center">
<h1 style=”color:blue;>Edit Product</h1>
<br />
<form action="#" th:action="@{/save}" th:object="${products}"
method="post">

 <table border="0" cellpadding="10">
<tr>
<td>Product id:</td>
<td>
<input type="text" th:field="*{id}" readonly="readonly" />
</td>
</tr>
<tr>
<td>Product Name:</td>
<td>
<input type="text" th:field="*{name}" required="required"/>
</td>
</tr>
<tr>
<td>Product quantity:</td>
<td><input type="text" th:field="*{quantity}" required="required" pattern="{1}[0-9]{9}"/></td>
</tr>
<tr>
<td>Product price :</td>
<td><input type="text" th:field="*{price}" required="required" pattern="{1}[0-9]{9}"/></td>
</tr>
<tr>
<td colspan="2"><button type="submit">Save</button> </td>
</tr>
</table>
</form>
</div>
</body>
</html>